*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.padding{
    padding: 10px 20px;
    border: 10px double gold;
    width: 20%;
    margin-right: auto;
    margin-left: auto;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    background-image: url(img/Snapchat-1396876843.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-clip: content-box;
    background-blend-mode: hard-light;



    
    

}